<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Inject Data</h1>
    <%=20+10%>
    <h1>The Result is:<%=20+30%></h1>
    <% console.log('From Ejs')%>

    <h1>Looping</h1>
    <% ['CSS','JS','Python','Java'].forEach((element) => { %>
    <p><%=element%></p>
    <%});%> %>

    <!-------Conditions-->
    <h1>Conditions</h1>
    <%if(30<20){%>
    <p>Yes It Is</p>
    <%}else{%>
    <p>No it is not</p>
    <% }%>
  </body>
</html>

<!------Inject Data -->
<!------Write js -->
<!------Looping -->
<!------make conditions -->
